/* Tokyonight Renk Paleti */
@define-color bg rgba(26, 27, 38, 0.8);
@define-color bg_hover rgba(36, 38, 56, 1);
@define-color fg #c0caf5;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color orange #ff9e64;
@define-color border_color rgba(122, 162, 247, 0.2);

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
    transition: 0.2s;
}

window#waybar {
    background-color: transparent;
}

/* --- TOOLTIP TASARIMI --- */
tooltip {
    background: rgba(26, 27, 38, 0.95);
    border: 1px solid @magenta;
    border-radius: 10px;
}
tooltip label {
    color: @fg;
    padding: 4px;
}

/* --- ORTAK ADACIK STİLİ --- */
#workspaces,
#mpris,
#window,
#clock,
#custom-updates,
#network-speed,
#cpu,
#memory,
#pulseaudio-microphone,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#battery,
#tray {
    background-color: @bg;
    color: @fg;
    border-radius: 10px;
    border: 1px solid @border_color;
    margin: 2px 1px; /* Yatay margin 1px'e düşürüldü */
}

/* --- SADECE SİMGE OLANLAR (Ortalama) --- */
#pulseaudio,
#backlight,
#network,
#bluetooth {
    min-width: 34px;
    padding: 0;
    margin: 2px 1px; /* Daha sıkı bir görüntü için */
}

/* --- İNTERNET HIZ PANELİ --- */
#network-speed {
    min-width: 120px; 
    padding: 2px 16px;
    color: @fg;
}

/* --- DİĞER METİNLİ MODÜLLER --- */
#custom-updates,
#cpu,
#memory,
#pulseaudio-microphone,
#battery,
#clock,
#window {
    padding: 2px 12px;
}

/* --- HOVER EFEKTLERİ --- */
#workspaces:hover,
#mpris:hover,
#window:hover,
#clock:hover,
#custom-updates:hover,
#network-speed:hover,
#cpu:hover,
#memory:hover,
#pulseaudio-microphone:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#battery:hover,
#tray:hover {
    background-color: @bg_hover;
    border-color: @magenta;
    color: #ffffff;
}

/* --- RENKLER --- */
#workspaces button {
    color: rgba(122, 162, 247, 0.4);
    padding: 0 4px;
}
#workspaces button.active { color: @blue; }
#window { color: @magenta; }
#custom-updates { color: #e0af68; }
#custom-updates.updated { color: @green; }
#cpu { color: @blue; }
#memory { color: @magenta; }
#pulseaudio-microphone { color: @red; }
#pulseaudio { color: @blue; }
#backlight { color: @orange; }
#network { color: @blue; }
#bluetooth { color: @blue; }
#bluetooth.connected { color: @magenta; }
#battery.charging { color: @green; }
#battery.warning { color: #e0af68; }
#battery.critical { color: @red; background-color: rgba(247, 118, 142, 0.1); }
